#DB
DATABASE_URL=
DB_AUTO_LOAD_ENTITIES="0" or "1"
DB_SYNCHRONIZE= "0" or "1"

#SECRETS/JWT
ENCRYPT_PASSWORD=
IV_LENGTH=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_EXPIRATION=

NODE_ENV="production" or "development"


#AWS
S3_AWS_ACCESS_KEY=
S3_AWS_BUCKET_NAME=
S3_AWS_ENDPOINT_URL=
S3_AWS_REGION=
S3_AWS_SECRET_KEY=

#GOOGLE
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=